.chat-list-container {
  display: flex;
  padding: 10px;
  flex-direction: column;
  height: 100vh;
  width: 30%;
  border-right: 1px solid #e9edef;
  background-color: #fff;
}

.chat-list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 16px;
  background-color: #fff;
}

.profile-section {
  display: flex;
  align-items: center;
  color: green;
  font: 25px bolder !important;
  font-family: sans-serif !important;
}

.action-icons {
  display: flex;
  gap: 20px;
  color: #54656f;
}

.action-icons .icon svg {
  /* width: 100px !important; */
  font-size: large;
  font-weight: 100px;
  color: #111b21;
}

.icon {
  cursor: pointer;
}

.search-bar {
  padding: 8px 7px;
  background-color: white;
}

.search-input {
  background-color: #e9edef;
  border-radius: 8px;
  border: none;
  padding: 8px 12px;
}

.search-input input {
  background-color: transparent;
  border: none;
}

.search-input input:focus {
  box-shadow: none;
}

.chat-categories {
  display: flex;
  gap: 5px;
  padding: 10px 0 10px 7px;
  margin-bottom: 10px;
}

.chat-categories span {
  font-size: 14px;
  color: #667781;
  cursor: pointer;
  padding: 5px 4%;
  border: 1px solid gray;
  border-radius: 50px;
}

.chat-categories span.active {
  background-color: rgba(0, 128, 0, 0.1);
}

.conversations {
  flex: 1;
  overflow-y: auto;
}

.conversation-item {
  padding: 10px !important;
  cursor: pointer;
  border: none !important;
  border-radius: 15px;
}
.conversation-item span .ant-avatar-image  {
  width: 45px;
  height: 45px;
}
.conversation-item .ant-list-item-meta {
  align-items: center !important;
}
.conversation-item:hover {
  background-color: #f5f6f6;
}

.conversation-item.active {
  background-color: #f0f2f5;
}

.conversation-title {
  font-weight: 500;
  color: #111b21;
}

.conversation-preview {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: #667781;
}

.message-preview {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 180px;
}

.message-time {
  margin-left: 10px;
}

.download-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 16px;
  background-color: #f0f2f5;
  border-top: 1px solid #e9edef;
}

.download-content {
  display: flex;
  align-items: center;
  gap: 10px;
}

.download-text h4 {
  margin: 0;
  font-size: 14px;
  font-weight: 500;
}

.download-text p {
  margin: 0;
  font-size: 12px;
  color: #667781;
}

.download-button {
  color: #00a884;
  font-weight: 500;
  cursor: pointer;
}
@media (max-width: 1000px) {
  .chat-list-container {
    width: 40%;
    height: 100vh;
  }
}
@media (max-width: 767px) {
  .chat-list-container {
    width: 100%;
    /* height: 100vh; */
  }

  .conversation-item {
    padding: 12px 10px;
  }

  .message-preview {
    max-width: 65%;
  }
}